[submodule ".config/nvim/pack/main/start/vim-airline"]
	path = .config/nvim/pack/main/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".config/nvim/pack/main/start/jedi-vim"]
	path = .config/nvim/pack/main/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule ".config/nvim/pack/main/start/fzf.vim"]
	path = .config/nvim/pack/main/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
